* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.header {
  width: 100%;
  background: rgb(252, 71, 71);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
  gap: 1rem;
}

.header .header--image {
  width: 30px;
  color: wheat;
}

.header p {
  font-weight: 500;
}